.input{
 
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #FAFBFC;
    border: 1px solid #DFE1E6;
    
    

}
@media only screen  and (max-width:480px){
    .input{
        
        
        font-size: 14px;
    }
}