@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
.form{
    background-color: white;
    width: 30%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column ;
}

.title{
    color: #5E6C84;
    
    font-weight: 900;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
    

}
.border{
  border-bottom: 1px solid #DFE1E6;
  margin-top: 20px;
}

.terms{
  font-size: 12px;
  text-align: left;
  color: #A2A2A2;
  margin: 10px 0 20px 0 ;
}
.link{
  color: #1D65D1;
}



/* for mobile view */
@media only screen and (max-width: 480px) { 
    .form {
      background-color: white;
      width: calc(100% - 40px); 
    }
  
    .title{
      color: #5E6C84;
     
      font-stretch: condensed;
      font-size: 18px;
    
    }
    
  }